# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local
.env.production

# editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
